-if @shape.address_cache.present?
  %h4.address
    = @shape.address_cache
    %small= cuzk_url(@shape, 'Katastr nemovitostí ')

- events_by_docs = @events.group_by(&:source).sort_by { |source, events| source.created_at }.reverse

%div
  = succeed '.' do
    Tato nemovitost je zmíněna v
    = (events_by_docs.size == 1) ? 'následujícím dokumentu' : 'následujících dokumentech'
    magistrátu
    = events_by_docs.map { |doc, event| doc.local_administration_unit.lau_nazev }.uniq.join(', ')
  %br
  %br

/ data-turbolins="false" will work in new version of turbolinks, now each link
/ has to have data-no-turbolink=true
%dl{data: { turbolinks: "false"} }
  - events_by_docs.each do |source, events|
    %dt
      %span.document-title
        - anchor = "addressBlock-#{events.first.address_block.id}"
        - short_title = truncate(source.title.to_s, length: 70)
        - data = { :'no-turbolink' => 'true' }
        - data.update({ toggle: 'tooltip', title: source.title }) if short_title != source.title
        = link_to short_title, polymorphic_path(source, anchor: anchor), data: data
    %dd
      %span.from-date
        Ze dne:
        = l(source.from_date.to_date, format: :long)
        - if source.document_storage
          = surround '[', ']' do
            = link_to 'Archiv orginálu', source.document_storage.url

      %span.legendbox
        %i{style: "background:#{source.legend_color}",
          toggle: 'tooltip', title: 'Barva legendy. Dokumenty jsou odlišeny podle počtu adres v nich nalezených.'} &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
      %br

      - if events.size > 1
        = "Adresa je v textu odkazována #{events.size}."
        Přímý odkaz na jednotlivé výskyty:
        - events.each_with_index do |event, idx|
          = link_to "#{idx + 1}. ",
            polymorphic_path(source, anchor: "addressBlock-#{event.address_block.id}"),
            data: {:'no-turbolink' => 'true' }
        %br


      Dokument celkem obsahuje
      = source.events_count
      adres.
