#errorMessage
= simple_form_for @notification, remote: true,
  html: { class: 'form-horizontal'}, wrapper: :horizontal_form  do |f|
  = f.input :message, required: false
  = f.input :gps_location, required: false
  = f.input :distance, required: false
  = f.button :submit, class: 'btn btn-success'
  - if @notification.persisted?
    = link_to notification_path(@notification), class: 'btn btn-danger', method: :delete, remote: true do
      %i.fa.fa-trash
      Smazat
  = link_to notifications_path, class: 'btn btn-primary', remote: true do
    %i.fa.fa-remove
    Zpět
