#errorMessage
- if @notifications.empty?
  %p
    Zadáním sledované oblasti budete informovéni prostřednictvím
    e-mailu o všech nových událostech v dané oblasti.
  %p
    Nemáte zatím žádné sledované oblasi.

  =link_to 'Zadat oblast', new_notification_path, remote: true, class: 'btn btn-success btn-lg center-block'

- else

  %table.table.table-responsive.table-hover
    %thead
      %tr
        %th Název
        /%th Umístění
        %th Velikost
        / %th
        /   =link_to new_notification_path, remote: true do
        /     %i{class:"glyphicon glyphicon-plus-sign"}
    %tbody
      - @notifications.each do |notification|
        %tr{data: { href: edit_notification_path(notification) }}
          %td= link_to notification.message, '#'
          %td
            =succeed(' m') do
              =notification.distance
          / %td
          /   =link_to edit_notification_path(notification), remote: true do
          /     %i{class:"glyphicon glyphicon-pencil"}

  = link_to 'Přidat oblast', new_notification_path, class: 'btn btn-success', remote: true


- if guest_user? && @notifications.present?
  %br
  %br
  %div.alert.alert-danger.last-step{style: 'display: none;'}
    %h4{class: 'text-center'}
      Pro funkční sledování zbývá
      %br
      poslední krok

    = simple_form_for @user || User.new, url: user_simple_register_path, remote: true,
      html: { class: 'form-inline'}, wrapper: :inline_form do |f|
      = f.input :terms_of_service, as: :boolean, label: '<a href="/terms">Slouhlasím se smluvními podmínkami</a>'.html_safe
      = f.input :email, label: false, as: :email, error: false, placeholder: 'můj e-mail...'
      = f.button :submit, value: 'Odeslat'

:javascript

  $('.last-step').delay(500).slideDown();

  var notifications = #{@notifications.to_json};
    setTimeout(function () { window.setNotifications(notifications) }, 500);

  $(function(){
    $('.table tr[data-href]').each(function(){
      $(this).css('cursor','pointer').hover(
        function(){
          $(this).addClass('active');
        },
        function(){
          $(this).removeClass('active');
        }).click( function(){
          $.getScript($(this).attr('data-href'));
        }
      );
    });
  });
