= content_for :before_container do
  %div.doc-head-info
    .container
      = render 'show_header'

#documentPlainTextInfo.modal.fade{"aria-labelledby" => "welcomeModal", :role => "dialog", :tabindex => "-1", styler:"z-index:1000000000"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-body
        %h3 Proč mohu vidět v dokumentu chyby?
        %p
          Obce dokumenty vystavují často ve strojově nečitelném formátu.
          Zpravidla se jedná o dokument, který vytisknou, naskenují a zobrazí v
          podobě PDF.
        %p
          Portál umí i tyto dokumenty zpracovávat, ale rozpoznání z obrázku
          nemusí být stoprocentní a může dojít k chybám. Zpravidla na místě
          obrázků, čárových kodů a razítek potom často vidíte "rozsypaný čaj".
        %p
          (poznámka: U některých dokumentů je převzat již převedený text z
          portálu
          = succeed ')' do
            = link_to 'eDesky.cz', 'https://edesky.cz', target: '_blank'


      .modal-footer
        %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} OK


.row.plain-text-row

  - if @document.document_storage_exists?
    #pdfViewColumn.col-xs-12.collapse
      %iframe{width: '100%', height: '500px', src: pdfjs.full_path(file: @document.document_storage.url) }

.row
  .col-xs-12.plain-text-document
    - case @document.status
    - when 'success'
      = render 'highlited'
    - when 'created', 'processing'
      .alert.alert-info{role: 'alert'}
        %h3 Dokument se stále zpracovává
        %p
          Běžně jsou dokumenty zpracovány do jedné hodiny, ve vyjmečných
          případech ovšem zpracování dokumetu může trvat i celý den.
      = render 'highlited'
    - when 'errored'
      .alert.alert-danger{role: 'alert'}
        %h3 Vyskytla se chyba při zpracování dokumentu
        %p Dokument bohužel neumíme zpracovat:(

    - else
      - raise "Unknown status #{@document.status.inspect} for document #{@document.id}"
