.row.doc-head-info

  %h3= @document.title

  .col-xs-12
    %dl.dl-horizontal
      %dt Id
      %dd= @document.id
      %dt Ze samosprávy
      %dd= link_to @document.local_administration_unit.title, polymorphic_path(Document, 'q[local_administration_unit_id_eq]' => @document.local_administration_unit)
      %dt Orginální zdroj
      %dd= link_to @document.url, @document.url
      - if @document.document_storage
        %dt Archiv
        %dd= link_to 'Stáhnout', @document.document_storage.url
      - if @document.edesky_document_id
        %dt Staženo z
        %dd= link_to 'edesky.cz', "http://edesky.cz/dokument/#{@document.edesky_document_id}"
      %dt Nalezeno adres
      %dd= @document.events.accessible_by(current_ability).count


      -if @document.pii_public_until
        %dt
          = (@document.pii_public_until > Time.now) ? 'Bude staženo' : 'Bylo staženo'
        %dd
          %span{class: 'pii'} Dokument pravdědopobně obsahuje osobní údaje a bude smazán dne
          = l @document.pii_public_until

    -if current_user && current_user.lau_permitted?(@document.local_administration_unit)
      %h4 Metadata
      %dl.dl-horizontal
        %dt Viditelnost
        %dd
          - klass = @document.published ? :published : :private
          %span{class: klass}= @document.published ? 'Veřejně dostuplný' : 'Veřejnosti nedostuplný'
        %dt Vytvořeno
        %dd= l @document.created_at
        %dt Text extrahován
        %dd= @document.plain_text_at ? l(@document.plain_text_at) : '-'
        %dt Upraveno
        %dd= l @document.updated_at
        %dt Status
        %dd= t(@document.status, scope: [:las, :document, :status], default: @document.status)
        %dt Zpracováno
        %dd= @document.parsed_at ? l(@document.parsed_at) : '-'

    - location = Shape.joins(:events).merge(@events).where(events: {source_id: @document.id, source_type: 'Document'}).location
    - if location
      - location_params = "15/#{location[1]}/#{location[0]}"
      %span{style: 'float:right'}= link_to 'Zobraz zvýrazněny všechny nemovitosti tohoto dokumentu',
        map_path('q[source_id_eq]' => @document.id, 'q[source_type_eq]' => 'Document', anchor: location_params),
        :class => 'btn btn-success'


%br

.plain-text-document
  = render 'highlited'


:javascript
  $(document).ready(function(){
    $("div.plain-text-document").outerHeight( $("body").innerHeight() -  $("div.plain-text-document").position().top);
  });

  $(document).on("page:load", function(){
    $("div.plain-text-document").outerHeight( $("body").innerHeight() -  $("div.plain-text-document").position().top);
  });
