-if resource && current_user && (current_user.lau_admin?(resource) || current_user.admin?)
  -unless resource.income_email_addresses.any? { |x| x.persisted? }
    %h3 Seznam e-mailových adres, ze kterých se přidávají dokuemnty je prázdý
  - else
    %h3 Seznam e-mailových adres, ze kterých se příjmají dokumenty
    %table.table.table-striped
      %thead
        %tr
          %th E-mail
          %th Popis
          %th= t '.actions', :default => t("helpers.actions")
      %tbody
        - resource.income_email_addresses.each do |email_address|
          - next unless email_address.persisted?
          %tr
            %td= email_address.email
            %td= email_address.description
            %td
              - if can? :destroy, email_address
                = link_to t('.destroy', :default => t("helpers.links.destroy")), [resource, email_address], :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'
  = form_for(@income_email_address,
    url:  create_incomming_email_local_administration_unit_path(resource),
    html: { role: :form, :class => 'form-inline' }) do |f|
    - if @income_email_address.errors.any?
      #error_explanation
        %h4 Požadavek nelze uložit:
        %ul
          - @income_email_address.errors.full_messages.each do |message|
            %li= message

    .form-group
      = f.label :email, :class => 'sr-only'
      = f.email_field :email, placeholder: 'Vlžte e-mail', required: true, class: 'form-control'
    .form-group
      = f.label :description, :class => 'sr-only'
      = f.text_field :description, placeholder: 'Popis', class: 'form-control'
    = f.submit 'Přidat', :class => 'btn btn-default'

