-if resource && current_user && (current_user.lau_permitted?(resource) || current_user.admin?)
  -unless resource.local_administration_unit_admins.any? { |x| x.persisted? }
    %h3 Seznam oprávněných uživatelů je prázdný
  - else
    %h3 Seznam oprávněných uživatelů
    %table.table.table-striped
      %thead
        %tr
          %th Id
          %th Uživatel
          %th Oprávění
          %th Naposledy přihlášen
          %th= t '.actions', :default => t("helpers.actions")
      %tbody
        - resource.local_administration_unit_admins.each do |lau_admin|
          - next unless lau_admin.persisted?
          %tr
            %td= lau_admin.id
            %td= lau_admin.email
            %td= lau_admin.role
            %td= lau_admin.user&.last_sign_in_at
            %td
              - if can? :destroy, lau_admin
                = link_to t('.destroy', :default => t("helpers.links.destroy")), [resource, lau_admin], :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'
  = render 'lau_admins_add_form'
