.page-header
  %h1 Přehled územních samospráv

  %h3
    %ul.breadcrumb.span8
      - lau = resource
      - parents = []
      - while lau do parents << lau; lau = lau.parent end
      - parents.reverse!
      = link_to "Česká Republika", LocalAdministrationUnit
      - parents.each_with_index do |lau, idx|
        %span.divider /
        = link_to lau.title, lau


= render 'lau_admins'

%br
%hr

= render 'incomming_emails'

%br
%hr

%h2 Přehled nižších správních celků

- cache(cache_key_local_administration_units) do
  %table.table.table-striped
    %thead
      %tr
        %th= resource ? resource.title : 'Kraje'
        %th= 'Počet dokumentů'
        %th= 'Počet dokumentů nižších správních celků'
        %th= 'Zpracováno za poslední týden'
    %tbody
      - week_ago = 7.days.ago.to_date
      - collection.each do |resource|
        %tr
          %td= link_to_if((resource.ruian_locable_type != 'Momc' and resource.children.present?), resource.nazev, resource)
          %td
            - resource_documents_count = resource.documents.count
            - if resource.edesky_dashboard_id.nil? and resource_documents_count == 0
              \-
            - else
              = link_to resource_documents_count, polymorphic_path(Document, 'q[local_administration_unit_id_eq]' => resource.id)
          %td
            - if resource.nested_ids.present?
              = Document.where('local_administration_unit_id IN (?)', resource.nested_ids).count
            - else
              \-
          %td= link_to resource.documents.where('created_at > ?', week_ago).count,
            polymorphic_path(Document,
              'q[local_administration_unit_id_eq]' => resource.id,
              'q[created_at_gt]' => week_ago)


