<div class="authform">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f| %>
    <h3><%= t('.sign_in', :default => "Sign in") %></h3>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%- if devise_mapping.registerable? %>
        <%= link_to t("devise.shared.links.sign_up", :default => "Sign up"), new_registration_path(resource_name), class: 'right'  %>
      <% end -%>
      <%= f.label :email %>
      <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%- if devise_mapping.recoverable? %>
        <%= link_to t("devise.shared.links.forgot_your_password", :default => "Forgot your password?"), new_password_path(resource_name), class: 'right' %>
      <% end -%>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>

    <%- if devise_mapping.omniauthable? %>
      <%- resource_class.omniauth_providers.each do |provider| %>
      <%= link_to t('devise.shared.links.sign_in_with_provider', :provider => provider.to_s.titleize, :default => "Sign in with #{provider.to_s.titleize}"), omniauth_authorize_path(resource_name, provider) %><br />
      <% end -%>
    <% end -%>


      <%= f.submit t('.sign_in', :default => "Sign in"), :class => 'button right' %>
      <% if devise_mapping.rememberable? -%>
        <div class="checkbox" style="width:150px">
          <label>
            <%= f.check_box :remember_me %> Remember me
          </label>
        </div>
      <% end -%>
  <% end %>
</div>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
<%= link_to t("devise.shared.links.forgot_your_password", :default => "Forgot your password?"), new_password_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
<%= link_to t('devise.shared.links.didn_t_receive_confirmation_instructions', :default => "Didn't receive confirmation instructions?"), new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
<%= link_to t('devise.shared.links.didn_t_receive_unlock_instructions', :default => "Didn't receive unlock instructions?"), new_unlock_path(resource_name) %><br />
<% end -%>
