<% require 'devise/version' %>

Pěkný den,

<p>děkujeme Vám za využití služeb portálu <%= link_to 'mapa.samospravy.cz', root_url %>.</p>

<p><%= t('.instruction', :default => "You can confirm your account email through the link below:") %></p>
<p><%= link_to t('.action', :default => "Confirm my account"),
         confirmation_url(@resource, :confirmation_token => (Devise::VERSION.start_with?('3.') ? @token : @resource.confirmation_token)) %></p>

<% if @resource.generated_password %>

  <p>Pro příští přihlášení použijte následující údaje:</p>
  <dl>
    <dt>Uživatel:</dt>
    <dd><%= @resource.email %></dd>
    <dt>Heslo:</dt>
    <dd><%= @resource.generated_password %></dd>
  </dl>
  <% @resource.update_column(:generated_password, nil) %>
<% end %>

Změnit heslo můžete v nastavení uživatele na webu.

