%h2.content-title Filtrovat podle slov

- q = params[:q]
- if params[:event_id] && params[:shape_id]
  / filter for a particular Event
  - event = Event.accessible_by(current_ability).find(params[:event_id])
  %h4
    Zobrazuji pouze adresu
    %br
    %strong
      = event.address_cache
    %br
    z dokumentu:
    %br
    %strong
      = show_event_source_link(event.source)

  =link_to 'Zobrazit pouze adresy z dokumentu', '', class: 'btn btn-primary',
    id: 'filter-documents', data: { search: "q[source_id_eq]=#{event.source_id}&q[source_type_eq]=#{event.source_type}" }
  =link_to 'Zrušit filtr úplně', '', class: 'btn btn-primary', id: 'cancel-filter-all'

- elsif q && q[:source_id_eq] && q[:source_type_eq]
  / filter for Documents events
  - document = Document.accessible_by(current_ability).find(q[:source_id_eq])
  %h4
    Zobrazuji pouze adresy z dokumentu:
    %br
    %strong
      = show_event_source_link(document)
  =link_to 'Zrušit filtr', '', class: 'btn btn-primary', id: 'cancel-filter-all'
- else
  - @q = OpenStruct.new(params[:q])
  = simple_form_for :q, url: map_path(), method: :get, html: {id: 'filter_form', class: 'form-horizontal'},wrapper: :horizontal_input_group do |f|
    = f.input :range, label: 'Datum mezi', required: false
    = f.input :query, label: 'Dokument obsahuje', placeholder: 'prodej, pronájem, ...', required: false do
      = f.input_field :query, class: "form-control clear-button"
      %span.input-group-btn
        %button{id: 'query_button', class: 'btn btn-default', type: 'submit'}
          %i{class:'fa fa-search'}


    %br
    %p
      Dokumenty sbíráme kompletně od 1.1.2016.
      Pro některé obce jsou staženy dokumenty i starší, ale nemůžeme 
      zaručit jejich kompletnost.
