:css
/ TODO: style is not perfect, mostly inspired by
/ http://jsfiddle.net/YwbLg/11/
/ https://jsfiddle.net/v58eozu1/25/
/ http://jsfiddle.net/eHded/5/

#mapContainer

  #mapOptions.options-open
    .tab
      %a{href:"#", onclick:"$('#mapOptions').toggleClass('options-open')"}
        %h4 Nastavení mapy

    .tabble-content
      %h2.content-title Hledání
      = render 'place_autocomplete'
      %br
      %br
      %h2.content-title Filtrování
      = render 'filter'

      %br
      %br
      %h2.content-title Sledované Oblasti
      #notifications
        = render 'notifications/list'

      %br TODO: ...tady toto nesmi jit mimo borazovku
      %br TODO: ...tady toto nesmi jit mimo borazovku
      %br TODO: ...tady toto nesmi jit mimo borazovku
      %br TODO: ...tady toto nesmi jit mimo borazovku
      %br TODO: ...tady toto nesmi jit mimo borazovku
      %br TODO: ...tady toto nesmi jit mimo borazovku
      %br TODO: ...tady toto nesmi jit mimo borazovku
      %br TODO: ...tady toto nesmi jit mimo borazovku
      %br TODO: ...tady toto nesmi jit mimo borazovku
      %br TODO: ...tady toto nesmi jit mimo borazovku
      %br TODO: ...tady toto nesmi jit mimo borazovku
      %br TODO: ...tady toto nesmi jit mimo borazovku
      %br TODO: ...tady toto nesmi jit mimo borazovku


  #map-containerDiv.tabbable-target
    #map= t('map_loading', default: 'Načítám mapu...')


#zoom-spinner
  .center
    Pro zobrazení událostí musíte přiblížit mapu.

= javascript_include_tag 'map.js'
