:css
/ TODO: style is not perfect, mostly inspired by
/ http://jsfiddle.net/YwbLg/11/
/ https://jsfiddle.net/v58eozu1/25/
/ http://jsfiddle.net/eHded/5/

#welcomeModal.modal.fade{"aria-labelledby" => "welcomeModal", :role => "dialog", :tabindex => "-1", styler:"z-index:1000000000"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-body
        %h3 Zajímá Vás provoz vaší obce?
        %p
          Na portálu Mapa.Samospravy.cz můžete přehledně sledovat, jaký nemovitý
          majetek je zmíněn v dokumentech (na úřední desce) Vaší obce, kraje, či např.
          městské části.
        %p
          Co to znamená: Vyznačené objekty na mapě sledují prodej, pronájem, stavební
          řízení, exekuce, opravy, aj., o nichžs se jedná na úředních deskách. Jediným
          kliknutím se dostanete na příslušné dokumenty, kde je daná adresa zmíněna.
        %p
          Můžete si nastavit sledování Vaší oblasti na mapě a
          budete upozorněni e-mailem, když se něco děje.
        %p
          Veškerý obsah má pouze informativní charakter. Dodavatel mapového 
          informačního systému neodpovídá za správnost, úplnost a aktuálnost dat,
          ani za korektní rozpoznání adres.


      .modal-footer
        %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Rozumím



#legendHelpModal.modal.fade{"aria-labelledby" => "legendHelpModal", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-body
        %h3 Proč jsou jednotlivé adresy označeny různou barvou?
        %p
          Každá obec vydává dokumenty, které obsahují velké množstí adres.
          Je to např. vyhláška o komunálním odpadu, změna územního řízení, apod.
        %p
          Pokud by byly všechny dokumenty označeny stejnou barvou, velké oblasti by svítily, ale
          přitom byste neměli přehled, zda mezi záplavou adres není nějaký dokument odlišného typu, vztahující se k jednomu konkrétnímu objektu.
        %p
          Pokud vidíte na mapě velkou oblast označenou žlutě, pravděpodobně to znamená,
          že celá tato oblast je odkazována v jednom dokumentu.
          Objekty označené tmavší barvou značí, že jsou odkazovány i v dalších dokumentech.

        %h3 Jak se určí barva objektu
        %p
          Každý objekt může být zmíněn v několika dokumentech. Barvu objektu určuje
          dokument, který obsahuje nejméně adres.
        %p
          Jinými slovy, čím tmavší odstín, tím spíše existuje dokument, který se
          vztahuje k této adrese.

        %h3 Příklad
        %p
          Na adrese
          %a{href:'http://localhost:3000/map?from_date=2015-09-24&to_date=2016-03-27#18/49.20003/16.62131'} Bratislavská 39, Brno
          Pokud by byly všechny objekty označeny stejnou barvou, jedním pohledem byste nezjistili,
          že tento objekt je/byl nabízen k pronájmu.

      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Zavřít
        %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Rozumím


#mapContainer

  #mapOptions.options-open
    .tab
      %a{href:"#", onclick:"$('#mapOptions').toggleClass('options-open')"}
        %h4 Nastavení mapy

    .tabble-content
      .col-sm-12
        %ul#tabble-nav.nav.nav-tabs.nav-justified{role: 'tablist'}
          %li.active{role:"presentation"}
            %a{href:"#search", role: 'tab', data: {toggle: 'tab'}} Hledání
          %li{role:"presentation"}
            %a{href:"#filter", role: 'tab', data: {toggle: 'tab'}} Filtrování
          %li{role:"presentation"}
            %a{href:"#notifications", role: 'tab', data: {toggle: 'tab'}} Moje&nbsp;oblasti

        .tab-content
          #search.tab-pane.fade.in.active{role: 'tabpanel'}
            = render 'place_autocomplete'

          #filter.tab-pane.fade{role: 'tabpanel'}
            = render 'filter'

          #notifications.tab-pane.fade{role: 'tabpanel'}
            %h2.content-title Sledované oblasti
            #notifications-content
              = render 'notifications/list'


  #map-containerDiv.tabbable-target
    #map= t('map_loading', default: 'Načítám mapu...')


#zoom-spinner
  .center
    Pro zobrazení událostí musíte přiblížit mapu.

= javascript_include_tag 'map.js'

- if @show_welcome_mesage
  :javascript
    $('#welcomeModal').modal('show');
