= content_for :before_container do
  #mapContainer
    #mapOptions.visible
      .collapser &gt;

      .tabble-content
        .col-xs-12
          %ul#tabble-nav.nav.nav-tabs.nav-justified.no-stack{role: 'tablist'}
            %li.active{role:"presentation"}
              %a{href:"#search", role: 'tab', data: {toggle: 'tab'}}
                /%i.fa.fa-search
                Hledání
            %li{role:"presentation"}
              %a{href:"#filter", role: 'tab', data: {toggle: 'tab'}}
                /%i.fa.fa-filter
                Filtrování
            %li{role:"presentation"}
              %a{href:"#notifications", role: 'tab', data: {toggle: 'tab'}}
                /%i.fa.fa-heart
                Moje&nbsp;oblasti

          .tab-content
            #search.tab-pane.fade.in.active{role: 'tabpanel'}
              = render 'place_autocomplete'
              - if current_or_guest_user.notifications.empty? && !current_user
                %br
                %br
                %hr
                %p
                  Můžete si nechat zasílat upozornění na nové události
                  v oblastech, které Vás zajímají.
                = link_to 'Zadat oblast', new_notification_path,
                  remote: true, class: 'new-notification-set-tab btn btn-success btn-lg center-block multitime'

            #filter.tab-pane.fade{role: 'tabpanel'}
              = render 'filter'

            #notifications.tab-pane.fade{role: 'tabpanel'}
              %h2.content-title Sledované oblasti
              #notifications-content
                = render 'notifications/list'

    #map-containerDiv.tabbable-target
      #map= t('map_loading', default: 'Načítám mapu...')




#welcomeModal.modal.modal-transparent.fade{"aria-labelledby" => "welcomeModal", :role => "dialog", :tabindex => "-1", styler:"z-index:1000000000"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-body.text-center
        %button{type: "button", class: "close", data: {dismiss: "modal"}, 'aria-label' => "Close"}
          %span{'aria-hidden': true} &times;
        %h3
          Podívejte se, co plánuje radnice ve Vašem okolí.
          %br
          Kliknutím na zvýrazněné objekty se zobrazí
          %br
          relevantní dokumenty z úředních desek.
      .modal-footer
        %div{class: "checkbox", style: 'float:left' }
          %label
            %input#disable_welcome_dialog_checkbox{ :type => "checkbox" }
            %span příště nezobrazovat
        %div{ :style => 'float:right' }
          %button.btn.btn-primary{ "data-dismiss" => "modal", :type => "button", :onclick => "disableWelcomeModalDialog()" } Rozumím



#legendHelpModal.modal.fade{"aria-labelledby" => "legendHelpModal", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button{type: "button", class: "close", data: {dismiss: "modal"}, 'aria-label' => "Close"}
          %span{'aria-hidden': true} &times;
        %h4
          Proč jsou jednotlivé adresy označeny různou barvou?
      .modal-body
        %p
          Každá obec vydává dokumenty, které obsahují velké množstí adres.
          Je to např. vyhláška o komunálním odpadu, změna územního řízení, apod.
        %p
          Pokud by byly všechny dokumenty označeny stejnou barvou, velké oblasti by svítily, ale
          přitom byste neměli přehled, zda mezi záplavou adres není nějaký dokument odlišného typu, vztahující se k jednomu konkrétnímu objektu.
        %p
          Pokud vidíte na mapě velkou oblast označenou žlutě, pravděpodobně to znamená,
          že celá tato oblast je odkazována v jednom dokumentu.
          Objekty označené tmavší barvou značí, že jsou odkazovány i v dalších dokumentech.

        %h3 Jak se určí barva objektu
        %p
          Každý objekt může být zmíněn v několika dokumentech. Barvu objektu určuje
          dokument, který obsahuje nejméně adres.
        %p
          Jinými slovy, čím tmavší odstín, tím spíše existuje dokument, který se
          vztahuje k této adrese.

        %h3 Příklad
        %p
          Na adrese
          =link_to 'Bratislavská 39, Brno', map_path(from_date: '2015-09-24', to_date: '2016-03-27', anchor: '18/49.20003/16.62131')
          Pokud by byly všechny objekty označeny stejnou barvou, jedním pohledem byste nezjistili,
          že tento objekt je/byl nabízen k pronájmu.

      .modal-footer
        %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Rozumím



#zoom-spinner
  .center
    Pro zobrazení událostí musíte přiblížit mapu.

= javascript_include_tag 'map.js'

- if @show_welcome_mesage
  :javascript
    var disable_welcome_modal = localStorage.getItem('disable-welcome-window');

    if (disable_welcome_modal !== 'true') {
      $('#welcomeModal').modal('show');
    }

    function disableWelcomeModalDialog() {
      if (document.getElementById('disable_welcome_dialog_checkbox').checked) {
        localStorage.setItem('disable-welcome-window', true);
      }
    }
