<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "samospráva na mapě" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Las Control" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= stylesheet_link_tag 'http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css' %>
    <%= stylesheet_link_tag 'https://api.mapbox.com/mapbox.js/plugins/leaflet-minimap/v1.0.0/Control.MiniMap.css' %>
    <%= stylesheet_link_tag 'Control.Loading.css' %>

    <%= javascript_include_tag 'http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js' %>
    <%= javascript_include_tag 'https://api.mapbox.com/mapbox.js/plugins/leaflet-hash/v0.2.1/leaflet-hash.js' %>
    <%= javascript_include_tag 'TileLayer.GeoJSON.js' %>
    <%= javascript_include_tag 'https://api.mapbox.com/mapbox.js/plugins/leaflet-minimap/v1.0.0/Control.MiniMap.js' %>
    <%= javascript_include_tag 'Control.Loading.js' %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main" class="<%= params[:controller].split('/').last.singularize %>">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
</html>
