<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "samospráva na mapě" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Las Control" %>">

    <link href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API_KEY']}&libraries=places&language=cs" %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main" class="<%= controller_name %> <%= action_name %>">
      <%= render 'layouts/messages' %>
      <%= content_for?(:before_container) ? yield(:before_container) : '' %>
      <div class="container">
         <%= yield %>
      </div>
    </main>
    <!-- %= javascript_include_tag 'record-stats', 'data-turbolinks-track' => true % -->
  </body>
</html>
